*, *::after, *::before {
border: 0;
margin: 0;
padding: 0;
box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Kurenaido&display=swap');

//colors

$primary: #b998fa ;
$success:#98fab9 ;
$danger: #fab998;
$dark: #121614 ;
$light: #dae8ff;

body {
  font-family: 'Lato', sans-serif;
  display: grid;
  place-items: end center;
  padding: 2rem;
  color: $dark;
}

input,textarea,select,button{
  font-family:'Zen Kurenaido',serif;
}

.form-container {
  max-width: 1000px;
  margin: 1rem auto;
}

h1 {
  font-size: 3rem;
  
}

